/*
 * This is a manifest file that'll automatically include all the stylesheets available in this directory
 * and any sub-directories. You're free to add application-wide styles to this file and they'll appear at
 * the top of the compiled file, but it's generally better to create a new file per style scope.
 *= require devise_bootstrap_views
 *= require bootstrap_and_overrides
 *= require_self
 *= require_tree .
*/
/*
 *= require font-awesome
*/

html {
  min-height: 100vh;
  box-sizing: border-box;
  width: 100%;
  margin: 0;
  -webkit-tap-highlight-color: transparent;
  overflow-y: scroll;
  overflow-x: hidden;
}

body {
  background-color: white !important;
  font-weight: 400;
}

#body {
  text-rendering: optimizelegibility;
  padding-bottom: 2em;
}

.results-block {
  font-size: 1.3em;
  text-align: center;
}

.no-padding {
  padding: 0 !important;
}

.no-margin {
  margin: 0 auto !important;
}

.left-padding {
  padding-left: 30px !important;
}

.user-name {
  padding-top: 15px;
}

.nav.navbar-right li {
  .btn {
    color: #66FFCC !important;
    margin-top: 6%;
  }

  .btn-logout {
    background-color: #FF69B4;
    color: black !important;
  }

  .btn-logout:hover {
    background-color: darken(#FF69B4, 20%);
  }
}

#stock:focus {
  outline:none;
  border-color: #FF69B4;
  box-shadow:0 0 10px #FF69B4;
}

#search:focus {
  outline:none;
  border-color: #66FFCC;
  box-shadow:0 0 10px #66FFCC;
}

.btn-focus:focus {
  outline: none !important;
  border-color: #FF69B4 !important;
  box-shadow:0 0 10px #FF69B4 !important;
}

.navbar-default {
  background-color: black !important;
}

.btn-stock {
  background-color: #66FFCC;
  color: #FF69B4;
}

.nav-icons {
  color: #66FFCC !important;
}

.port-title {
  color: #FF69B4;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  text-align: left;
}

.port-stock-search {
  text-align: left;
}

.shadow {
  box-shadow: 0 2px 5px 0 rgba(0,0,0,.24);
}

.nav-brand {
  color: #FF69B4 !important;
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
  font-size: 20px !important;
  position: relative !important;
}

.user-text {
  text-decoration: none !important;
}

#search {
  text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
}

.btn-stock-add {
  color: #FF69B4;
  display: inline-block !important;
  border-radius: 50% !important;
}

.behind {
  position: absolute !important;
  top: 0 !important;
  right: 0 !important;
  bottom: 0 !important;
  left: 0 !important;
  z-index: 0 !important;
  display: -webkit-box !important;
  /* Safari */
  display: flex !important;
  justify-content: center !important;
}

.icon-behind {
  max-width: 100px;
  max-height: 100px;
  position: relative !important;
  color: #FFCC66 !important;
}

.stock-name {
  font-size: 20px;
}

.bg {
  overflow: hidden;
  border-top-left-radius: 10px;
  background-size: cover;
  background-position: center;
  border-bottom-left-radius: 10px;
  border-radius: 10px;
  width: 125%;
  height: 100%;
  top: -12.5%;
  left: -12.5%;
  z-index: 2;
  background-image: url('stock-market-3.jpg');
  background-color: black;
  transform-style: preserve-3d;
  transition: all 1s ease-in-out;
}

.side {
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  width: 100%;
  position: absolute;
}



.bg:hover {
  transform: rotateY(180deg);
}

.grid {
  max-width: 77.8em;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  text-shadow: 1px 1px 0 rgba(0,0,0,0.35);
}

.show {
  display: block;
}

.view {
  clear: both;
}

.view-container {
  padding-left: 1em;
  padding-right: 1em;
  width: 100%;
}

.show-now {
  display: inline-block;
}

.stock {
  width: 25%;
  font-size: 1em;
  height: 16em;
}

.text {
  top: 50%;
  transform: translateY(-25%);
  text-align: center;
  width: 100%;
  padding-left: 1.2em;
  padding-right: 1.2em;
}

.container-card {
  position: relative;
  height: 100%;
  width: 100%;
  cursor: pointer;
  overflow: hidden;
  z-index: 1;
  border-radius: 10px;
}

.itemName {
  color: #FFF;
  font-weight: 350;
  font-size: 1.2em;
}

.bottom-right {
  bottom: 0;
  right: 0;
  text-align: right;
}

.bottom-left {
  bottom: 0;
  left: 0;
  text-align: left;
}

.top-left {
  top: 0;
  left: 0;
  text-align: left;
}

.top-right {
  top: 0;
  right: 0;
  text-align: right;
}

.item {
  user-select: none;
  padding-bottom: 10px;
  float: left;
}

.grid .item .attributes div {
  z-index: 3;
  color: #66FFCC;
  font-weight: 500;
  font-size: 1em;
  position: absolute;
  margin-left: .7em;
  margin-right: 1.7em;
  margin-top: 0.6em;
  margin-bottom: 0.6em;
}

.tracking {
  text-align: center;
}

.trash {
  color: #66FFCC;
}

.trash:hover {
  color: #FF69B4;
  text-decoration: none;
}

.data-color {
    color: #FF69B4;
}

.grid .item .itemSub {
  font-size: 1em;
  margin: 0;
  margin-top: 0.2em;
  line-height: 1;
  color: #fff;
  border-bottom: none;
}
